*{
    margin: 0;
    padding: 0;
}
/* -----banar section start---- */
.bannar{
    width: 100%;
    height: 700px;
    border: 2px solid rgb(10, 10, 10);
    background-image: url(imgs/pic1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text{
    margin: 250px 0;
    text-align: center;

}
.text button{
    padding: 5px 10px;
    border: 2px solid rgb(10, 10, 10);
    background-color: rgb(128, 211, 156);
}
/* -----banar section end---- */

/* Parent section start*/
.box1{
    margin-top: 40px;
    width: 300px;
    height: 300px;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(253, 40, 32, 1) 50%, rgba(252, 176, 69, 1) 100%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

/* Parent section end*/