*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 100%;
    height: 700px;
    border: 2px solid rgb(10, 10, 10);
    background-image: url(imgs/pic1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text{
    
}