*{
    margin: 0;
    padding: 0;
}
/* -----banar section start---- */
.bannar{
    width: 100%;
    height: 700px;
    border: 2px solid rgb(10, 10, 10);
    background-image: url(imgs/pic1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text{
    margin: 250px 0;
    text-align: center;

}
.text button{
    padding: 5px 10px;
    border: 2px solid rgb(10, 10, 10);
    background-color: rgb(79, 85, 81);
}
/* -----banar section end---- */


.box1{
    margin-top: 40px;
    width: 300px;
    height: 300px;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(253, 40, 32, 1) 50%, rgba(252, 176, 69, 1) 100%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}


/* Parent section start*/
.parent{
    width: 100%;
    height: 500px;
    background-color: #111111;
    
}

.about{
  margin: 60px 0 40px;
  padding: 20px;
  color: aliceblue;
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.me{
    color: rgb(255, 174, 0);
}
/*-----left side start---- */
.personal{
    width: 50%;
    margin: 0 150px;
    display: flex;
    justify-content:space-around;
    color: rgb(153, 164, 173);
}
.info{
    margin: 0px 100px 15px 150px;
    color: rgb(170, 175, 180);
}
button{
    margin: 0px 200px 15px 150px;
    padding: 10px 25px;
    border: 2px solid rgb(255, 174, 0);
    border-radius: 20px;
    background-color:#111111 ;
    color: rgb(188, 196, 202);

}
/*-----left end start---- */
.contaiter{
    display: flex;
    
}
.card{
    width: 50%;
    margin: 0 50px;
    display: flex;;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;    
    gap: 50px;
}
.card1{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(33, 33, 34);
    padding: 15px 80px;
}
h1{
    font-size: 50px;
    color: rgb(204, 149, 29);
}
.card p {
    color: rgb(176, 188, 196);
}
/* Parent section end*/